@{
    ViewData["Title"] = MultiLanguages.Resources.About.Title;
}

<div class="mil-content">
    <div id="swupMain" class="mil-main-transition">

        <!-- banner -->
        <div class="mil-inner-banner">
            <div class="mil-banner-content mil-center mil-up">
                <div class="container">
                    <ul class="mil-breadcrumbs mil-center mil-mb-60">
                        <li><a asp-controller="Home" asp-action="Home">@MultiLanguages.Resources.Shared.Home</a></li>
                        <li><a href="about.html">@MultiLanguages.Resources.About.Title </a></li>
                    </ul>
                    <h1><span class="mil-thin">@MultiLanguages.Resources.About.Title</span></h1>
                    <h5>@MultiLanguages.Resources.About.Shaping</h5>
                </div>
            </div>
        </div>
        <!-- banner end -->
        <!-- about us section -->
        <section id="about-us">
            <div class="container mil-p-120-90">
                <div class="row justify-content-center">
                    <div class="col-lg-12">

                        <!--<div class="mil-image-frame mil-horizontal mil-up">
                            <img src="img/about/our_team.jpg" alt="Our Team" class="mil-scale" data-value-1=".90" data-value-2="1.15">
                        </div>-->
                        <div class="mil-info mil-up mil-mb-90">
                            <div>@MultiLanguages.Resources.Shared.Category<span class="mil-dark">@MultiLanguages.Resources.About.OurCompany</span></div>
                            <div>@MultiLanguages.Resources.Shared.Date<span class="mil-dark">@MultiLanguages.Resources.About.Founded</span></div>
                            <div>@MultiLanguages.Resources.Shared.Author<span class="mil-dark">@MultiLanguages.Resources.Shared.AC95</span></div>
                        </div>

                    </div>
                    <div class="col-lg-8">

                        <p class="mil-text-xl mil-dark mil-up mil-mb-60">@MultiLanguages.Resources.About.TEXT1</p>

                        <blockquote class="mil-up mil-mb-60">@MultiLanguages.Resources.About.Quote</blockquote>

                        <h5 class="mil-up mil-mb-30">@MultiLanguages.Resources.About.OurMission</h5>
                        <p class="mil-up mil-mb-60">@MultiLanguages.Resources.About.OurMissionText</p>

                        <h5 class="mil-up mil-mb-30">@MultiLanguages.Resources.About.WhyChooseUs</h5>
                        <p class="mil-up mil-mb-60">@MultiLanguages.Resources.About.WhyText</p>

                        <h5 class="mil-up mil-mb-30">@MultiLanguages.Resources.About.OurExpertise</h5>
                        <p class="mil-up mil-mb-60">@MultiLanguages.Resources.About.OurExpertiseText</p>

                        <!--<div class="row">
                            <div class="col-lg-6">

                                <div class="mil-image-frame mil-horizontal mil-up mil-mb-30">
                                    <img src="img/about/our_projects.jpg" alt="Our Projects">
                                </div>

                            </div>
                            <div class="col-lg-6">

                                <div class="mil-image-frame mil-horizontal mil-up mil-mb-60">
                                    <img src="img/about/our_clients.jpg" alt="Our Clients">
                                </div>

                            </div>
                        </div>-->

                        <p class="mil-up mil-mb-60">@MultiLanguages.Resources.About.Text2</p>

                        <blockquote class="mil-up mil-mb-60">@MultiLanguages.Resources.About.Quote2</blockquote>

                        <p class="mil-up mil-mb-30">@MultiLanguages.Resources.About.Text3</p>

                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
