@{
    ViewData["Title"] = "Confirmation";
}

<div class="mil-content">
    <div id="swupMain" class="mil-main-transition">

        <!-- banner -->
        <div class="mil-inner-banner mil-p-0-120">
            <div class="mil-banner-content mil-center mil-up">
                <div class="container">
                    <ul class="mil-breadcrumbs mil-center mil-mb-60">
                        <li><a asp-controller="Home" asp-action="Home">@MultiLanguages.Resources.Shared.Home</a></li>
                        <li><a asp-controller="Contact" asp-action="Contact">@MultiLanguages.Resources.Shared.Contact</a></li>
                    </ul>
                    <h1 class="mil-mb-60">@MultiLanguages.Resources.Shared.Thank</h1>
                    <h4>@MultiLanguages.Resources.Confirmation.Text1</h4>
                    <br />
                    <a asp-controller="Home" asp-action="Home" class="mil-link mil-dark mil-arrow-place mil-down-arrow">
                        <span>@MultiLanguages.Resources.Shared.GoHome</span>
                    </a>
                </div>
            </div>
        </div>
        <!-- banner end -->
       
