@{
    ViewData["Title"] = MultiLanguages.Resources.HowWeWork.Title;
}

<div class="mil-content">
    <div id="swupMain" class="mil-main-transition">

        <!-- banner -->
        <div class="mil-inner-banner">
            <div class="mil-animation-frame">
                <div class="mil-animation mil-position-4 mil-dark mil-scale" data-value-1="6" data-value-2="1.4"></div>
            </div>
            <div class="mil-banner-content mil-up">
                <div class="container">
                    <ul class="mil-breadcrumbs mil-mb-60">
                        <li><a asp-controller="Home" asp-action="Home">@MultiLanguages.Resources.Shared.Home</a></li>
                        <li><a asp-controller="Home" asp-action="HowWeWork">@MultiLanguages.Resources.Shared.HowWeWork</a></li>
                    </ul>
                    <h1 class="mil-mb-60">@MultiLanguages.Resources.HowWeWork.HowWeTitle</h1>
                    <a href="#service" class="mil-link mil-dark mil-arrow-place mil-down-arrow">
                        <span>Get Started</span>
                    </a>
                </div>
            </div>
        </div>
        <!-- banner end -->
        <!-- service -->
        <section id="service">
            <div class="container mil-p-120-90">
                <div class="row justify-content-between">
                    <div class="col-lg-4 mil-relative mil-mb-90">
                        <!-- Necesario arreglar este titulo -->
                        <h4 class="mil-up mil-mb-30">@MultiLanguages.Resources.HowWeWork.Our <span class="mil-thin">Approach</span> <br>and <span class="mil-thin">Service Options</span></h4>
                        <p class="mil-up mil-mb-30">@MultiLanguages.Resources.HowWeWork.Text1</p>
                        <div class="mil-up">
                            <a href="services.html" class="mil-link mil-dark mil-arrow-place">
                                <span>@MultiLanguages.Resources.HowWeWork.ExploreServices</span>
                            </a>
                        </div>

                    </div>
                    <div class="col-lg-6">

                        <div class="mil-accordion-group mil-up">
                            <div class="mil-accordion-menu">

                                <p class="mil-accordion-head">@MultiLanguages.Resources.HowWeWork.Project</p>

                                <div class="mil-symbol mil-h3">
                                    <div class="mil-plus">+</div>
                                    <div class="mil-minus">-</div>
                                </div>

                            </div>
                            <div class="mil-accordion-content">
                                <p class="mil-mb-30">@MultiLanguages.Resources.HowWeWork.ProjectText</p>
                            </div>
                        </div>

                        <div class="mil-accordion-group mil-up">
                            <div class="mil-accordion-menu">

                                <p class="mil-accordion-head">@MultiLanguages.Resources.HowWeWork.Monthly</p>

                                <div class="mil-symbol mil-h3">
                                    <div class="mil-plus">+</div>
                                    <div class="mil-minus">-</div>
                                </div>

                            </div>
                            <div class="mil-accordion-content">
                                <p class="mil-mb-30">@MultiLanguages.Resources.HowWeWork.MonthlyText</p>
                            </div>
                        </div>

                        <div class="mil-accordion-group mil-up">
                            <div class="mil-accordion-menu">

                                <p class="mil-accordion-head">@MultiLanguages.Resources.HowWeWork.Hire</p>

                                <div class="mil-symbol mil-h3">
                                    <div class="mil-plus">+</div>
                                    <div class="mil-minus">-</div>
                                </div>

                            </div>
                            <div class="mil-accordion-content">
                                <p class="mil-mb-30">@MultiLanguages.Resources.HowWeWork.HireText</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- service end -->
        <!-- Solutions -->
        <section class="mil-dark-bg">
            <div class="mi-invert-fix">
                <div class="mil-animation-frame">
                    <div class="mil-animation mil-position-1 mil-scale" data-value-1="2.4" data-value-2="1.4" style="top: 300px; right: -100px"></div>
                    <div class="mil-animation mil-position-2 mil-scale" data-value-1="2" data-value-2="1" style="left: 150px"></div>
                </div>
                <div class="container mil-p-120-0">

                    <div class="mil-mb-120">
                        <div class="row">
                            <div class="col-lg-10">
                                <span class="mil-suptitle mil-light-soft mil-suptitle-right mil-up">@MultiLanguages.Resources.HowWeWork.OurSolutions</span>
                            </div>
                        </div>

                        <div class="mil-complex-text justify-content-center mil-up mil-mb-15">
                            <span class="mil-text-image"><img src="/img/photo/2.jpg" alt="team"></span>
                            <h2 class="mil-h1 mil-muted mil-center">@MultiLanguages.Resources.HowWeWork.ProjectTitle <span class="mil-thin">@MultiLanguages.Resources.HowWeWork.Services</span></h2>
                        </div>
                    </div>

                    <div class="row mil-services-grid m-0">
                        <!-- Websites -->
                        <div class="col-md-6 col-lg-3 mil-services-grid-item p-0">
                            <a asp-controller="Home" asp-action="Web" class="mil-service-card-sm mil-up">
                                <h5 class="mil-muted mil-mb-30">@MultiLanguages.Resources.Shared.WebDev</h5>
                                <p class="mil-light-soft mil-mb-30">@MultiLanguages.Resources.HowWeWork.WebText</p>
                                <div class="mil-button mil-icon-button-sm mil-arrow-place"></div>
                            </a>
                        </div>

                        <!-- E-commerce Stores -->
                        <div class="col-md-6 col-lg-3 mil-services-grid-item p-0">
                            <a asp-controller="Home" asp-action="Ecommerce" class="mil-service-card-sm mil-up">
                                <h5 class="mil-muted mil-mb-30">@MultiLanguages.Resources.Shared.Ecom</h5>
                                <p class="mil-light-soft mil-mb-30">@MultiLanguages.Resources.HowWeWork.EcomText</p>
                                <div class="mil-button mil-icon-button-sm mil-arrow-place"></div>
                            </a>
                        </div>

                        <!-- App Development -->
                        <div class="col-md-6 col-lg-3 mil-services-grid-item p-0">
                            <a asp-controller="Home" asp-action="App" class="mil-service-card-sm mil-up">
                                <h5 class="mil-muted mil-mb-30">@MultiLanguages.Resources.Shared.AppDev</h5>
                                <p class="mil-light-soft mil-mb-30">@MultiLanguages.Resources.HowWeWork.AppText</p>
                                <div class="mil-button mil-icon-button-sm mil-arrow-place"></div>
                            </a>
                        </div>

                        <!-- Software Development -->
                        <div class="col-md-6 col-lg-3 mil-services-grid-item p-0">
                            <a asp-controller="Home" asp-action="Software" class="mil-service-card-sm mil-up">
                                <h5 class="mil-muted mil-mb-30">@MultiLanguages.Resources.Shared.SoftwareDev</h5>
                                <p class="mil-light-soft mil-mb-30">@MultiLanguages.Resources.HowWeWork.SoftText</p>
                                <div class="mil-button mil-icon-button-sm mil-arrow-place"></div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Solutions End -->
        <!-- prices -->
        <section class="mil-dark-bg">
            <div class="mi-invert-fix">
                <div class="container mil-p-120-120">
                    <div class="mil-center">
                        <h2 class="mil-muted mil-up mil-mb-30">@MultiLanguages.Resources.HowWeWork.Affordable<span class="mil-thin"></span>@MultiLanguages.Resources.HowWeWork.Plans <br>@MultiLanguages.Resources.HowWeWork.For</h2>
                        <p class="mil-light-soft mil-up mil-mb-120">@MultiLanguages.Resources.HowWeWork.AffordableText</p>
                    </div>

                    <!-- Basic Maintenance Plan -->
                    <a href="contact.html" class="mil-price-card mil-choose mil-accent-cursor mil-up">
                        <div class="row align-items-center">
                            <div class="col-lg-2">
                                <div class="mil-price-number mil-mb-30"><span class="mil-muted mil-thin">$</span><span class="mil-accent">99*</span></div>
                            </div>
                            <div class="col-lg-4">
                                <h5 class="mil-muted mil-mb-30">@MultiLanguages.Resources.HowWeWork.BasicWeb</h5>
                            </div>
                            <div class="col-lg-4">
                                <p class="mil-light-soft mil-mb-30">@MultiLanguages.Resources.HowWeWork.BasicWebText</p>
                            </div>
                            <div class="col-lg-2">
                                <div class="mil-adaptive-right mil-mb-30">
                                    <div class="mil-button mil-icon-button-sm mil-arrow-place"></div>
                                </div>
                            </div>
                        </div>
                    </a>

                    <!-- Digital Marketing Plan -->
                    <a href="contact.html" class="mil-price-card mil-choose mil-accent-cursor mil-up">
                        <div class="row align-items-center">
                            <div class="col-lg-2">
                                <div class="mil-price-number mil-mb-30"><span class="mil-muted mil-thin">$</span><span class="mil-accent">199*</span></div>
                            </div>
                            <div class="col-lg-4">
                                <h5 class="mil-muted mil-mb-30">@MultiLanguages.Resources.HowWeWork.DigitalMarketingPackage</h5>
                            </div>
                            <div class="col-lg-4">
                                <p class="mil-light-soft mil-mb-30">@MultiLanguages.Resources.HowWeWork.DMText</p>
                            </div>
                            <div class="col-lg-2">
                                <div class="mil-adaptive-right mil-mb-30">
                                    <div class="mil-button mil-icon-button-sm mil-arrow-place"></div>
                                </div>
                            </div>
                        </div>
                    </a>

                    <!-- App Maintenance Plan -->
                    <a href="contact.html" class="mil-price-card mil-choose mil-accent-cursor mil-up">
                        <div class="row align-items-center">
                            <div class="col-lg-2">
                                <div class="mil-price-number mil-mb-30"><span class="mil-muted mil-thin">$</span><span class="mil-accent">299*</span></div>
                            </div>
                            <div class="col-lg-4">
                                <h5 class="mil-muted mil-mb-30">@MultiLanguages.Resources.HowWeWork.AppMa</h5>
                            </div>
                            <div class="col-lg-4">
                                <p class="mil-light-soft mil-mb-30">@MultiLanguages.Resources.HowWeWork.AppMaText</p>
                            </div>
                            <div class="col-lg-2">
                                <div class="mil-adaptive-right mil-mb-30">
                                    <div class="mil-button mil-icon-button-sm mil-arrow-place"></div>
                                </div>
                            </div>
                        </div>
                    </a>

                    <!-- Custom Software Development Plan -->
                    <a href="contact.html" class="mil-price-card mil-choose mil-accent-cursor mil-up mil-mb-60">
                        <div class="row align-items-center">
                            <div class="col-lg-2">
                                <div class="mil-price-number mil-mb-30"><span class="mil-muted mil-thin">$</span><span class="mil-accent">499*</span></div>
                            </div>
                            <div class="col-lg-4">
                                <h5 class="mil-muted mil-mb-30">@MultiLanguages.Resources.HowWeWork.CustomSoftware</h5>
                            </div>
                            <div class="col-lg-4">
                                <p class="mil-light-soft mil-mb-30">@MultiLanguages.Resources.HowWeWork.CustomSoftwareText</p>
                            </div>
                            <div class="col-lg-2">
                                <div class="mil-adaptive-right mil-mb-30">
                                    <div class="mil-button mil-icon-button-sm mil-arrow-place"></div>
                                </div>
                            </div>
                        </div>
                    </a>

                    <div class="mil-center">
                        <a href="contact.html" class="mil-button  mil-arrow-place">
                            <span>@MultiLanguages.Resources.Shared.View</span>
                        </a>
                    </div>
                </div>
            </div>
        </section>
        <!-- prices end -->
        <!-- other services -->
        <section>
            <div class="container mil-p-120-90">
                <div class="row align-items-center mil-mb-30">
                    <div class="col-lg-6 mil-mb-30">
                        <h3 class="mil-up">@MultiLanguages.Resources.HowWeWork.Hire</h3>
                    </div>
                    <div class="col-lg-6 mil-mb-30">
                        <div class="mil-adaptive-right mil-up">
                            <a href="services.html" class="mil-link mil-dark mil-arrow-place">
                                <span>@MultiLanguages.Resources.Shared.View</span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <!-- Contract by Month -->
                    <div class="col-lg-4">
                        <a href="service.html" class="mil-service-card-lg mil-other-card mil-more mil-mb-30">
                            <h4 class="mil-up mil-mb-30">@MultiLanguages.Resources.HowWeWork.Month</h4>
                            <p class="mil-descr mil-up mil-mb-30">@MultiLanguages.Resources.HowWeWork.MonthText</p>
                            <ul class="mil-service-list mil-dark mil-mb-30">
                                <li class="mil-up">@MultiLanguages.Resources.HowWeWork.FullStack</li>
                                <li class="mil-up">@MultiLanguages.Resources.HowWeWork.UIUX</li>
                                <li class="mil-up">@MultiLanguages.Resources.HowWeWork.DigitalMarketers</li>
                                <li class="mil-up">@MultiLanguages.Resources.HowWeWork.QA</li>
                            </ul>
                            <div class="mil-link mil-dark mil-arrow-place mil-up">
                                <span>@MultiLanguages.Resources.Shared.ReadMore</span>
                            </div>
                        </a>
                    </div>

                    <!-- Contract by Project -->
                    <div class="col-lg-4">
                        <a href="service.html" class="mil-service-card-lg mil-other-card mil-more mil-mb-30">
                            <h4 class="mil-up mil-mb-30">@MultiLanguages.Resources.HowWeWork.Project</h4>
                            <p class="mil-descr mil-up mil-mb-30">@MultiLanguages.Resources.HowWeWork.ProjectServiceText</p>
                            <ul class="mil-service-list mil-dark mil-mb-30">
                                <li class="mil-up">@MultiLanguages.Resources.HowWeWork.ProjectManagers</li>
                                <li class="mil-up">@MultiLanguages.Resources.HowWeWork.Backend</li>
                                <li class="mil-up">@MultiLanguages.Resources.HowWeWork.Frontend</li>
                                <li class="mil-up">@MultiLanguages.Resources.HowWeWork.DevOps</li>
                            </ul>
                            <div class="mil-link mil-dark mil-arrow-place mil-up">
                                <span>@MultiLanguages.Resources.Shared.ReadMore</span>
                            </div>
                        </a>
                    </div>

                    <!-- Contract by Sprint -->
                    <div class="col-lg-4">
                        <a href="service.html" class="mil-service-card-lg mil-other-card mil-more mil-mb-30">
                            <h4 class="mil-up mil-mb-30">@MultiLanguages.Resources.HowWeWork.Sprint</h4>
                            <p class="mil-descr mil-up mil-mb-30">@MultiLanguages.Resources.HowWeWork.SprintText</p>
                            <ul class="mil-service-list mil-dark mil-mb-30">
                                <li class="mil-up">@MultiLanguages.Resources.HowWeWork.ScrumMasters</li>
                                <li class="mil-up">@MultiLanguages.Resources.HowWeWork.Agile</li>
                                <li class="mil-up">@MultiLanguages.Resources.HowWeWork.ProductOwners</li>
                                <li class="mil-up">@MultiLanguages.Resources.HowWeWork.QATesters</li>
                            </ul>
                            <div class="mil-link mil-dark mil-arrow-place mil-up">
                                <span>@MultiLanguages.Resources.Shared.ReadMore</span>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </section>
