@{
    ViewData["Title"] = "Monthlymarketing";
}

<div class="mil-content">
    <div id="swupMain" class="mil-main-transition">

        <!-- banner -->
        <div class="mil-inner-banner">
            <div class="mil-animation-frame">
                <div class="mil-animation mil-position-4 mil-dark mil-scale" data-value-1="6" data-value-2="1.4"></div>
            </div>
            <div class="mil-banner-content mil-up">
                <div class="container">
                    <ul class="mil-breadcrumbs mil-mb-60">
                        <li><a asp-controller="Home" asp-action="Home">@MultiLanguages.Resources.Shared.Home</a></li>
                        <li><a asp-controller="Home" asp-action="Monthly">@MultiLanguages.Resources.Shared.Monthly</a></li>
                        <li><a asp-controller="Home" asp-action="Monthlymarketing">@MultiLanguages.Resources.Monthlymarketing.DigitalMarketing</a></li>
                    </ul>
                    <h1 class="mil-mb-60">Monthly <span class="mil-thin">Digital</span><br> Marketing <span class="mil-thin">Services</span></h1>
                    <a href="#service" class="mil-link mil-dark mil-arrow-place mil-down-arrow">
                        <span>@MultiLanguages.Resources.Shared.GetStarted</span>
                    </a>
                </div>
            </div>
        </div>
        <!-- banner end -->
        <!-- service -->
        <section id="service">
            <div class="container mil-p-120-90">
                <div class="row justify-content-between">
                    <div class="col-lg-4 mil-relative mil-mb-90">

                        <h4 class="mil-up mil-mb-30">@MultiLanguages.Resources.Monthlymarketing.Our <span class="mil-thin" @MultiLanguages.Resources.Monthlymarketing.Monthly</span> <br>@MultiLanguages.Resources.Monthlymarketing.Digital_Marketing <span class="mil-thin">@MultiLanguages.Resources.Monthlymarketing.Services</span></h4>
                        <p class="mil-up mil-mb-30">@MultiLanguages.Resources.Monthlymarketing.Text1</p>
                        <div class="mil-up">
                            <a asp-controller="Home" asp-action="Started" class="mil-link mil-dark mil-arrow-place">
                                <span>@MultiLanguages.Resources.Shared.Subscribe</span>
                            </a>
                        </div>

                    </div>
                    <div class="col-lg-6">

                        <div class="mil-accordion-group mil-up">
                            <div class="mil-accordion-menu">
                                <p class="mil-accordion-head">@MultiLanguages.Resources.Monthlymarketing.SocialMediaManagement</p>

                                <div class="mil-symbol mil-h3">
                                    <div class="mil-plus">+</div>
                                    <div class="mil-minus">-</div>
                                </div>
                            </div>
                            <div class="mil-accordion-content">
                                <p class="mil-mb-30">@MultiLanguages.Resources.Monthlymarketing.Text2</p>
                            </div>
                        </div>

                        <div class="mil-accordion-group mil-up">
                            <div class="mil-accordion-menu">
                                <p class="mil-accordion-head">@MultiLanguages.Resources.Monthlymarketing.Search</p>

                                <div class="mil-symbol mil-h3">
                                    <div class="mil-plus">+</div>
                                    <div class="mil-minus">-</div>
                                </div>
                            </div>
                            <div class="mil-accordion-content">
                                <p class="mil-mb-30">@MultiLanguages.Resources.Monthlymarketing.Text3</p>
                            </div>
                        </div>

                        <div class="mil-accordion-group mil-up">
                            <div class="mil-accordion-menu">
                                <p class="mil-accordion-head">@MultiLanguages.Resources.Monthlymarketing.Pay</p>

                                <div class="mil-symbol mil-h3">
                                    <div class="mil-plus">+</div>
                                    <div class="mil-minus">-</div>
                                </div>
                            </div>
                            <div class="mil-accordion-content">
                                <p class="mil-mb-30">@MultiLanguages.Resources.Monthlymarketing.Text4</p>
                            </div>
                        </div>

                        <div class="mil-accordion-group mil-up">
                            <div class="mil-accordion-menu">
                                <p class="mil-accordion-head">@MultiLanguages.Resources.Monthlymarketing.Content</p>

                                <div class="mil-symbol mil-h3">
                                    <div class="mil-plus">+</div>
                                    <div class="mil-minus">-</div>
                                </div>
                            </div>
                            <div class="mil-accordion-content">
                                <p class="mil-mb-30">@MultiLanguages.Resources.Monthlymarketing.Text5</p>
                            </div>
                        </div>

                        <div class="mil-accordion-group mil-up">
                            <div class="mil-accordion-menu">
                                <p class="mil-accordion-head">@MultiLanguages.Resources.Monthlymarketing.Email</p>

                                <div class="mil-symbol mil-h3">
                                    <div class="mil-plus">+</div>
                                    <div class="mil-minus">-</div>
                                </div>
                            </div>
                            <div class="mil-accordion-content">
                                <p class="mil-mb-30">@MultiLanguages.Resources.Monthlymarketing.Text6</p>
                            </div>
                        </div>

                        <div class="mil-accordion-group mil-up">
                            <div class="mil-accordion-menu">
                                <p class="mil-accordion-head">@MultiLanguages.Resources.Monthlymarketing.Analytics</p>

                                <div class="mil-symbol mil-h3">
                                    <div class="mil-plus">+</div>
                                    <div class="mil-minus">-</div>
                                </div>
                            </div>
                            <div class="mil-accordion-content">
                                <p class="mil-mb-30">@MultiLanguages.Resources.Monthlymarketing.Text7</p>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </section>
        <!-- service end -->
    </div>
</div>
